@model CarGallerySystem.Entities.Models.Brand
@{
    ViewBag.Title = "Araba Markasını Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">@ViewBag.Title</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Admin/Index" class="breadcrumb-link">@Session["KullanıcıAdıSoyadı"]</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">@ViewBag.Title</h5>
                <div class="card-body">
                    <form id="validationform" method="post" data-parsley-validate="" novalidate="" enctype="multipart/form-data">
                        @using (Html.BeginForm("Edit", "Brand", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Marka Adı</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="text" required="" name="Name" placeholder="Marka Adı" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Marka Resmi</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="file" required="" name="image" class="btn btn-danger">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Güncelleme Tarihi</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="date" required="" name="UpdatedDate" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row text-right">
                                <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                    <button type="submit" class="btn btn-space btn-primary">Araba Markasını Güncelle</button>
                                    <a href="~/Brand/Index" class="btn btn-space btn-secondary">İptal Et</a>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>