@model CarGallerySystem.Entities.Models.Car
@{
    ViewBag.Title = "Araç Bilgisini Güncelle";
    TempData["msg"] = "Araba Güncelleme Formu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid  dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">@ViewBag.Title</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="~/Admin/Index" class="breadcrumb-link">@Session["KullanıcıAdıSoyadı"]</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">@TempData["msg"]</h5>
                <div class="card-body">
                    <form id="validationform" method="post" data-parsley-validate="" novalidate="">
                        @using (Html.BeginForm("Edit", "Car", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <h3><label class="label label-primary visible-lg-block">Araç Marka Ve Model Seçimi</label></h3>
                            <hr />
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="input-select" class="control-label col-lg-3">Araba Kategori Listesi: *</label>
                                    <div class="form-control col-lg-9">
                                        @Html.DropDownListFor(i => i.CategoryId, new SelectList(ViewBag.Categories, "Id", "Name", new { @class = "form-control" }))
                                        @Html.ValidationMessageFor(i => i.CategoryId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input-select" class="control-label col-lg-3">Araba Marka Listesi: *</label>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(i => i.BrandId, new SelectList(ViewBag.Brands, "Id", "Name", new { @class = "form-control" }))
                                        @Html.ValidationMessageFor(i => i.BrandId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="input-select" class="control-label col-lg-3">Araba Model Listesi: *</label>
                                    <div class="col-lg-9">
                                        @Html.DropDownListFor(i => i.ModelId, new SelectList(ViewBag.Models, "Id", "Name", new { @class = "form-control" }))
                                        @Html.ValidationMessageFor(i => i.ModelId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <h3><label class="label label-primary">Araba Bilgileri</label></h3>
                            <hr />
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Araç Plakası</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="text" required="" name="Plaka" placeholder="Araç Plakası" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Üretim Yılı</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="text" required="" name="Year" placeholder="Üretim Yılı" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Araç Rengi</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="text" required="" name="Colour" placeholder="Araç Rengi" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Araç Kilometresi</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="text" required="" name="KM" placeholder="Araç Kilometresi" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputText4" class="col-12 col-sm-3 col-form-label text-sm-right">Toplam Araç Sayısı</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input id="inputText4" type="number" name="TotalCar" class="form-control" placeholder="Toplam Araç Sayısı">
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label class="col-12 col-sm-3 col-form-label text-sm-right">Toplam Araç Sayısı</label>
                                    <div class="col-12 col-sm-8 col-lg-6">
                                        <input type="text" required="" name="TotalCar" placeholder="Toplam Araç Sayısı" class="form-control">
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Araç Fiyatı</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="text" required="" name="Price" placeholder="Araç Fiyatı" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-sm-3 col-form-label text-sm-right">Güncelleme Tarihi</label>
                                <div class="col-12 col-sm-8 col-lg-6">
                                    <input type="date" required="" name="UpdatedDate" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row text-right">
                                <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                    <button type="submit" class="btn btn-space btn-primary">Araç Bilgilerini Güncelle</button>
                                    <a href="~/Car/Index" class="btn btn-space btn-secondary">İptal Et</a>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>